@import 'aos/dist/aos.css';
@import 'modern-normalize/modern-normalize.css';
@import '@radix-ui/themes/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.main-wrapper {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  font-family: var(--font-poppins), sans-serif;
  background: #0d0d0d;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.build-section .pin-spacer {
  background: #0d0d0d;
}

.custom-shadow {
  box-shadow: inset 0px 4px 4px #eeeeee52, 0px 20px 40px -10px #1e8dc299, 0px 60px 160px #1e8dc299;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(20px);
}

.custom-shadow-secondary {
  box-shadow: inset 0px 2.82px 2.82px #eeeeee52, 0px 14.11px 28.22px -7.05px #1e8dc299, 0px 42.33px 112.88px #1e8dc299;
  backdrop-filter: blur(14.11px);
  -webkit-backdrop-filter: blur(14.11px);
}

.blue-gradient-border {
  position: absolute;
  border-radius: 20px;
  z-index: 0;
}

.blue-gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(68.38deg,
      rgba(28, 141, 193, 0) 0%,
      rgba(28, 141, 193, 1) 49%,
      rgba(28, 141, 193, 1) 75%,
      rgba(14, 67, 92, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.border-gradient {
  position: relative;
  border-radius: 999px;
  z-index: 0;
  /* Без звичайного border! */
  /* border: none; */
}

.border-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 999px;
  padding: 1px;
  /* товщина рамки */
  background: linear-gradient(68.38deg,
      rgba(28, 141, 193, 0) 11%,
      #1C8DC1 50.72%,
      #1C8DC1 72.35%,
      rgba(14, 67, 92, 0) 92.79%);
  /* Маска для "порожнини" */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 0.32);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 0.32);
  inherits: false;
}

.button-gradient {
  --myColor1: rgba(0, 0, 0, 0.32);
  --myColor2: rgba(0, 0, 0, 0.32);
  background: linear-gradient(90deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.7s, --myColor2 0.7s;
  color: white;
}

/* Градієнт на ховері */
.button-gradient:hover {
  --myColor1: #0D0D0D;
  --myColor2: #3D3D3D;
}

/* Активний стан */
.button-gradient:active {
  --myColor1: #A084E8;
  --myColor2: #A084E8;
}

@property --from {
  syntax: '<color>';
  initial-value: #000;
  inherits: false;
}

@property --to {
  syntax: '<color>';
  initial-value: #000;
  inherits: false;
}

.btn-gradient-primary {
  background: #000;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  transition:
    background 0.35s,
    box-shadow 0.35s;
}

.btn-gradient-primary:hover {
  background: linear-gradient(90deg, #0D0D0D 0%, #3D3D3D 100%);
  box-shadow: 0px 12px 30px 0px #A578F240;
}

.btn-gradient-primary:active {
  background: var(--primary-purple, #A578F2);
  box-shadow: none;
}

.btn-gradient-primary:disabled {
  pointer-events: none;
  opacity: 0.2;
  color: rgba(255, 255, 255, 0.9);
}

/* SECONDARY BUTTON */
.btn-gradient-secondary {
  background: #fff;
  color: #000;
  border-radius: 9999px;
  font-weight: 500;
  backdrop-filter: blur(40px);
  transition:
    background 0.35s,
    box-shadow 0.35s,
    color 0.35s;
}

.btn-gradient-secondary:hover {
  background: #F6F1FE;
  color: var(--primary-purple, #8759D5);
  box-shadow: 0px 12px 40px 0px #A578F240;
}

.btn-gradient-secondary:active {
  color: #8759D5;
}

.btn-gradient-secondary:disabled {
  pointer-events: none;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.4);
  background: #fff;
}

/* PURPLE BUTTON */
.btn-gradient-purple {
  background: var(--primary-purple, #A578F2);
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  transition:
    background 0.35s,
    box-shadow 0.35s;
}

.btn-gradient-purple:hover {
  background: var(--secondary-purple, #7A59F7);
  box-shadow: 0px 12px 30px 0px #A578F240;
}

.btn-gradient-purple:active {
  background: var(--primary-purple, #A578F2);
  box-shadow: none;
}

.btn-gradient-purple:disabled {
  pointer-events: none;
  opacity: 0.2;
  color: rgba(255, 255, 255, 0.9);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}